asgiref==3.5.2
certifi @ file:///croot/certifi_1665076670883/work/certifi
Django==4.1
djangorestframework==3.14.0
psycopg2 @ file:///croot/psycopg2_1666817453215/work
python-slugify==7.0.0
pytz==2022.6
sqlparse==0.4.3
text-unidecode==1.3
